@import "../../styles/variables";

.prevexp {
  padding: 5rem 0;
}
.box {
  margin: 0 auto;
  padding: 5rem 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $breakpoints-md) {
    flex-direction: row;
    align-items: flex-start;
    width: 90%;
  }
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $breakpoints-md) {
    flex-direction: column;
  }
  li {
    text-align: center;
    list-style: none;
    width: 20rem;
    border-radius: 50px;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    margin: 0.5rem 1rem;
    transition: all 0.5s;
    border: 1px solid $color3;
    cursor: pointer;
    box-shadow: $shadow;
    @media only screen and (max-width: $breakpoints-md) {
      padding: 1rem 1rem;
      width: 18rem;
    }
    &:hover {
      border: 1px solid $color9;
      color: $color9;
      background: $color1;
    }
  }
}
.active {
  transform: translateY(-10px);
  background: $color3;
  color: $color1;
  @media only screen and (max-width: $breakpoints-md) {
    transform: translateY(0);
    transform: translateX(-10px);
  }
}
.textbox {
  display: flex;
  justify-content: center;
  align-items: center;
  @media only screen and (max-width: $breakpoints-md) {
    flex-direction: column;
    width: 100%;
  }
  .image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    @media only screen and (max-width: $breakpoints-md) {
      display: none;
    }
  }
  .text {
    width: 70%;
    @media only screen and (max-width: $breakpoints-md) {
      width: 90%;
    }
    h5 {
      margin-top: 1rem;
    }
  }
}
