@import "../../styles//variables";
.button {
  background: transparent;
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: 1px solid $color3;
  border-radius: 10px;
  margin: 0 2rem 0 0;
  cursor: pointer;
}
.filled {
  background: $color3;
  color: $color1;
  &:hover {
    background: transparent;
  }
}
.testimonies {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 2rem;
  span {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.close {
  position: absolute;
  padding: 0.5rem;
  top: 1rem;
  right: 0;
  z-index: 12;
  @media only screen and (max-width: $breakpoints-md) {
    top: 8rem;
  }
  svg {
    display: flex;
  }
}
