@import "../../styles/variables";
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
}
.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
}
.glass {
  background: linear-gradient(to right bottom, $color-2, $color-3);
  backdrop-filter: blur(1rem);
}
