//COLORS
$color1: #ffffff;
$color2: #16989a;
$color3: rgb(32, 196, 198);
$color4: #00fff1;
$color5: #87bfbc;
$color6: rgb(234, 248, 248);
$color7: #383874;
$color8: #e13c04;
$color9: #ff6225;
$color-0: #b27e59c9;
$color-1: #b27e59;
$color-2: rgb(0, 255, 241, 0.1);
$color-3: rgb(255, 255, 255, 0.1);
$section: rgba(2, 41, 39, 0.041);
$section1: #dee7e7;

//SHADOW
$shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
$shadow2: 2px 2px 4px rgb(0, 0, 0);

//BREAKPOINTS
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;
$breakpoints-xxl: 1400px;
