@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap");
@import "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  font-size: 62.5%;
  color: $color7;
  & *::selection {
    background: $color9;
    color: $color1;
  }
  @media only screen and (min-width: $breakpoints-xxl) {
    font-size: 80%;
  }
  @media only screen and (max-width: $breakpoints-xl) {
    font-size: 60%;
  }
  @media only screen and (max-width: $breakpoints-lg) {
    font-size: 55%;
  }
  @media only screen and (max-width: $breakpoints-md) {
    font-size: 50%;
  }
  @media only screen and (max-width: $breakpoints-sm) {
    font-size: 40%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 4.7rem;
}
h2 {
  font-size: 4rem;
  font-weight: 300;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2.5rem;
}
h5 {
  font-size: 2rem;
}
p {
  font-size: 2rem;
}

////SWIPER////
.swiper-button-next {
  font-size: 4rem;
  position: absolute;
  top: 50%;
  right: -5%;
  cursor: pointer;
  @media only screen and (max-width: $breakpoints-sm) {
    display: none;
  }
}
.swiper-button-prev {
  position: absolute;
  top: 50%;
  left: -5%;
  font-size: 4rem;
  cursor: pointer;
  @media only screen and (max-width: $breakpoints-sm) {
    display: none;
  }
}
.swiper-container {
  padding: 2rem;
  @media only screen and (max-width: $breakpoints-sm) {
    padding: 4rem;
  }
}
.swiper-pagination {
  bottom: -1rem;
}
.swiper-pagination-bullet-active {
  background: $color3;
}
