@import "../../../styles//variables";

.nav {
  height: 8vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: $color1;
  background: linear-gradient(to right bottom, $color3, #00fff1);
  z-index: 10;
}
